
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, violet, #982a86);
    color: white;
}


.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
}


h1 {
    font-size: 22px;
    margin-bottom: 15px;
}


label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: left;
}


select, input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    outline: none;
    transition: 0.3s;
}


select:hover, input:hover {
    background: rgba(255, 255, 255, 0.3);
}


button {
    background: white;
    color: #333;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    transition: transform 0.2s, box-shadow 0.3s;
}


button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.514);
}


p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 0.8s ease-in-out;
}


footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

/* fazer animação quando abre o site */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 20px;
    }
    
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}
